body {
    margin: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #000000;

    min-width: 960px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-top-header {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    
    background-color: #293449;
    width: 100%;
    margin-bottom: 46px;
}

.container-top {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.search-form input {
    
    color: #ffffff;
    background-color: transparent;
    border: none;
    width: 270px;

    padding: 15px;
}

.search-form input:hover {
    background-color: #212a3a;
}

.search-form input:focus {
    color: #000000;
    background-color: #ffffff;
}

.products-navigation {
    margin: 0;
    padding: 0;

    list-style: none;
    color: #ffffff;
    display: flex;
    width: 450px;
    justify-content: flex-end;
}

.products-navigation a {
    display: block;
    padding: 17px 30px;

    vertical-align: middle;
    color: #ffffff;
}

.products-navigation .basket {
    position: relative;
    padding-left: 40px;
}

.basket::before {
    content: "";

    position: absolute;
    left: 12px;
    
    width: 15px;
    height: 15px;

    background-image: url("img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: red;

    opacity: 0.3;
}

.products-navigation .pack {
    position: relative;
    padding-left: 40px;
}

.pack::before {
    content: "";

    position: absolute;
    left: 12px;

    width: 14px;
    height: 16px;

    background-image: url("img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: red;

    opacity: 0.3;
}

.products-navigation .to-order {
    padding: 17px 23px;
    background-color: #63a63e;
}

.products-navigation a:hover {
    background-color: #212a3a;
}

.products-navigation a:focus {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.products-navigation .to-order:hover {
    background-color: #5fbb2d;
}

.products-navigation .to-order:focus {
    background-color: #518534;
}

.short-description {
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;

    font-style: italic;
    font-weight: normal;

    padding-left: 50px;
    padding-right: 70px;
    padding-bottom: 40px;
    width: 200px;
}

.call {
    font-size: 21px;
    font-weight: normal;
    color: #ee3643;

    border: 2px solid #ffffff;

    margin: 0;
    padding: 0;
}

.header-address {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.container-middle-header {
    background-color: #f3f7f8;
    width: 100%;
    margin-bottom: 60px;
}

.container-middle {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.main-navigation {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    width: 940px;
    margin: 0 auto;
    
    background-color: #32425c;
}

.user-navigation {
    display: flex;
    justify-content: flex-end;
    width: 282px;
}

.login-link {
    padding: 12px 20px 12px 40px;
    position: relative;
}

.login-link::before {
    content: "";

    position: absolute;

    width: 20px;
    height: 17px;

    background-image: url("img/icon-login.svg");
}

.register-link {
    padding: 12px 25px;
}



.user-navigation a,
.logged-in a{
    background-color: #ffffff;
}

.site-navigation {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.site-navigation,
.user-navigation,
.logged-in-function {
    list-style: none;
}

.user-navigation a {
    color: #000000;
}

.user-navigation a:hover{
    color: #ee3643;
}

.user-navigation a:focus {
    color: rgba(0, 0, 0, 0.5);
}

.logged-in-function a{
    font-size: 16px;
    line-height: 18px;
    color: #32425c;

    text-decoration: underline;
}

.logged-in a {
    color: #000000;
}

.logged-in a:focus {
    color: rgba(0, 0, 0, 0.3);
} 

.logged-in-function a:hover {
    color: #ee3643;
}

.logged-in-function a:focus {
    color: rgba(50, 66, 92, 0.3)
}

.site-navigation a {
    display: block;
    padding: 22px 30px 22px 30px;

    vertical-align: middle;
    color: #ffffff;
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.pop-section {
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    background-color: #f9f5f0;
}

.pop-section a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;

    margin: 25px 24px 25px 0;
    padding: 8px 55px;

    background-color: #ee3643;
}

.pop-section .pop {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;

    padding-left: 30px;
}

.perf {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.price-link {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #ee3643;
}

.pop-tools,
.pop-items {
    list-style: none;
}

.services-delivery-container {
    width: 100%;
    background-color: #f4f8f9;   
    margin-bottom: 70px;
}

.services-delivery {
    display: flex;
    width: 940px;
}

.services-name {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.delivery-name {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: normal;
    color: #32425c;
}

.services-description,
.delivery-description {
    font-size: 13px;
    line-height: 24px;
}

.garanty-section,
.credit-section {
    display: none;
}

.offers {
    list-style: none;
}



.company-contacts-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 85px;
}

.contacts-map {
    width: 300px;
}

.company-technomart {
    width: 540px;
}

.company-technomart h2,
.contacts-map h2 {
    margin: 0;
    margin-bottom: 28px;

    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight: normal;
}

.company-technomart p,
.contacts-map p {
    font-size: 13px;
    line-height: 24px;
}

.company-technomart a,
.contacts-map a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ee3643;
} 

.button {
    display: inline-block;
    border-radius: 3px;
}

.company-technomart a {
    padding: 8px 40px;
}

.contacts-map a {
    width: 100%;   
    padding: 8px 0;
} 

.map-content {
    height: 158px;
    margin: 0;
    margin-bottom: 40px;
}

.map-content img {
    height: 158px;
    width: 300px;
}

.delivery-companies {
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 20px;
    list-style: none;
}

.delivery-companies li {
    position: relative;
    padding-bottom: 18px;
    padding-left: 35px;
}

.delivery-companies li:before {
    content: "";

    position: absolute;
    bottom: 27px;
    left: 0;

    width: 25px;
    height: 2px;

    background-color: #ee3643;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.page-title {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    font-weight: normal;
    min-height: 90px;
    
    margin: 0 auto;
    margin-bottom: 20px;

    background-color: #f2f6f8;
}

.breadcrumbs {
    font-family: 'PT Sans', sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.breadcrumbs a{
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.breadcrumbs-current {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 220px;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.filter ul {
    list-style: none;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-input:disabled + label {
    color: rgba(0, 0, 0, 0.4);
}

.catalog-list {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 0;

    list-style: none;
}

.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;

    line-height: 20px;
    text-align: center;

    border: 1px solid #eaeaea;
}

.catalog-item:last-child {
    margin-right: 0;
}

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 2;
}

.catalog-item .flag-new {
    background: url("img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 218px;
    height: 88px;
    padding: 40px 0;
  
    background-color: rgba(255,255,255,0.9);
    z-index: 1;
}

.catalog-item  .actions .buy,
.catalog-item  .actions .bookmark {
    display: block;
    width: 135px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    background-color: #63a63e;

    border-radius: 3px;
    border: 3px solid #63a63e;
    border-bottom: 3px solid #367315;

    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum", sans-serif; 
    text-transform: uppercase;
}

.catalog-item  .actions .bookmark {
    color: #32425c;
    background-color: #ffffff;
    border-bottom: 3px solid #63a63e;
}

.catalog-item .actions {
    display: none;
}

.catalog-item:hover .actions {
    display: block;
}

.catalog-item:hover {
    box-shadow: 0 10px 25px 2px #b4b8bf;
}

.catalog-item .actions .buy:hover {
    background-color: #5fbb2d;
    border: 3px solid #5fbb2d;
    border-bottom: 3px solid #367315;
}

.catalog-item .actions .buy:focus {
    background-color: #367315;
    border: 3px solid #367315;
}

.catalog-item .actions .bookmark:hover {
    border: 3px solid #32425c; 
}

.catalog-item .actions .bookmark:focus {
    border: 3px solid #c1c6ce; 
    color: #c1c6ce;
}

.catalog-item .img {
    width: 218px;
    height: 170px;
    max-width: 100%;
}

.catalog-item .perf {
    display: block;
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
}

.catalog-item .old-price,
.catalog-item .price-buy {
    display: block;
}

.catalog-item .old-price {
    text-decoration: line-through;
    color: #a9a9a9;
}

.catalog-item .price-buy {
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    
    color: white;
    background: #ee3643;
    border-radius: 3px;
}

.catalog-item .price-buy:after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -20px;
    
    border: 20px solid white;
    border-left-color: #ee3643;
  }

.makers-container {
    width: 940px;
}

.makers-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 85px;

    list-style: none;
}

.maker-logo {
    width: 218px;
    margin-bottom: 20px;
    margin-right: 20px;

    border: 1px solid #eaeaea;
}

.maker-logo:hover {
    box-shadow: 0 10px 25px 2px #b4b8bf;
}

.maker-logo:nth-child(4n) {
    margin-right: 0;
}

.pagination-list {
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    width: 285px;
}

.pagination-item a{
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #e5e5e5;
}

.pagination-item a:hover {
    border-color: #bdc6ca;
}

.pagination-item a:focus {
    border-color: #ee3643;
}

.pagination-item-current a{
    color: #ffffff;

    background-color: #ee3643;
} 

.pagination-item-current a:active {
    color: #ffffff;

    background-color: #ee3643;
}

.about-tools {
    background-color: #f2f6f8;
    width: 100%;
}

.about-tools h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

.about-tools p {
    font-size: 13px;
    line-height: 24px;
}

.item-added h2 {
    font-size: 30px;
    line-height: 30px;
}

.item-added a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ee3643;
}

.continue {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;

    border: none;
}

.main-footer {
    background-color: #32425c;
}

.site-navigation-top {
    width: 550px;
    margin: 0;
    padding: 0;
    padding-left: 170px;
}

.site-navigation-top a:hover,
.site-navigation-middle a:hover {
    background-color: #32425c;
    text-decoration: underline;
}

.site-navigation-top a:focus {
    color: rgba(241, 245, 247, 0.5);
    background-color: #32425c;
    text-decoration: none;
}

.site-navigation-middle a:focus {
    color: rgba(255, 209, 128, 0.5);
    background-color: #32425c;
    text-decoration: none;
}

.site-navigation-middle {
    width: 525px;
    margin: 0;
    padding:0;
}

.site-navigation-middle a{
    color: #ffd180;
}

.footer-address {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.container-low-footer {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    width: 100%;

    background-color: #293449;
}

.container-low {
    display: flex;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
}

.authors-law {
    width: 240px;
    margin: 0;
    margin-top: 35px;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 131px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    margin-top: 35px;
    margin-bottom: 29px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    background-color: #212a3a;
    border-radius: 50%;
    
}

.social-links a:hover,
.social-links a:focus {
    background-color: #ee3643;
}

.feedback,
.developed {
    margin: 0;
    width: 140px;
}

.feedback-developed {
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
}

.feedback-developed a {
    color: #ffd180;
}

.feedback-developed a:hover {
    text-decoration: underline;
}

.feedback-developed a:focus {
    color: #ee3643;
    text-decoration: none;
}

.user-name input,
.user-mail input,
.user-text textarea {
    border: 2px solid #dee3e4;
}

.user-name input[type="text"],
.user-mail input[type="text"],
.user-text textarea[name="text"] {
    font: inherit;
    color: #a9a9a9;
} 

.button {
    font: inherit;
    font-size: 14px;
    line-height: 18px;

    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
}

.modal-review {
    display: flex;
    width: 620px;
    margin: 0 auto;
}

.modal-map {
    width: 940px;
    margin: 0 auto;
}

.item-added {
    width: 620px;
    margin: 0 auto;
}