body {
    margin: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #000000;
}

a {
    text-decoration: none;
}

.container-top-header {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    
    background-color: #293449;
    width: 100%;
}

.container-top {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.search-form input {
    color: #ffffff;
    background-color: transparent;
    border: none;
    width: 270px;
}

.search-form input:hover {
    background-color: #212a3a;
}

.search-form input:focus {
    color: #000000;
    background-color: #ffffff;
}

.products-navigation {
    margin: 0;
    padding: 0;

    list-style: none;
    color: #ffffff;
    display: flex;
}

.products-navigation li {
    width: 150px;
}

.products-navigation a {
    color: #ffffff;
}

.to-order {
    background-color: #63a63e;
}

.products-navigation a:hover {
    background-color: #212a3a;
}

.products-navigation a:focus {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.products-navigation .to-order:hover {
    background-color: #5fbb2d;
}

.products-navigation .to-order:focus {
    background-color: #518534;
}

.short-description {
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.short-description {
    font-style: italic;
    font-weight: normal;
}

.call {
    font-size: 21px;
    font-weight: normal;
    color: #ee3643;

    border: 2px solid #ffffff;

    margin: 0;
    padding: 0;
}

.header-address {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.container-middle-header {
    background-color: #f3f7f8;
    width: 100%;
    margin-bottom: 60px;
}

.container-middle {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.main-navigation {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    width: 940px;
    margin: 0 auto;
    
    background-color: #32425c;
}

.user-navigation a,
.logged-in a{
    background-color: #ffffff;
}

.site-navigation {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-navigation,
.user-navigation,
.logged-in-function {
    list-style: none;
}

.user-navigation a {
    color: #000000;
}

.user-navigation a:hover{
    color: #ee3643;
}

.user-navigation a:focus {
    color: rgba(0, 0, 0, 0.5);
}

.logged-in-function a{
    font-size: 16px;
    line-height: 18px;
    color: #32425c;

    text-decoration: underline;
}

.logged-in a {
    color: #000000;
}

.logged-in a:focus {
    color: rgba(0, 0, 0, 0.3);
} 

.logged-in-function a:hover {
    color: #ee3643;
}

.logged-in-function a:focus {
    color: rgba(50, 66, 92, 0.3)
}

.site-navigation a {
    color: #ffffff;
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.pop-section {
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    background-color: #f9f5f0;
}

.pop-section a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;

    background-color: #ee3643;
}

.pop-section .pop {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
}

.perf {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.old-price {
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
    color: #a9a9a9
}

.price-link {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #ee3643;
}

.pop-tools,
.pop-items {
    list-style: none;
}

.services-delivery-container {
    background-color: #f4f8f9;
    width: 100%;
    
}

.services-delivery {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.services-name {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.delivery-name {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: normal;
    color: #32425c;
}

.services-description,
.delivery-description {
    font-size: 13px;
    line-height: 24px;
}

.garanty-section,
.credit-section {
    display: none;
}

.offers {
    list-style: none;
}

.company-contacts-container {
    display: flex;
    width: 940px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 85px;
}

.company-technomart h2,
.contacts-map h2 {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight: normal;
}

.company-technomart p,
.contacts-map p {
    font-size: 13px;
    line-height: 24px;
}

.company-technomart a,
.contacts-map a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ee3643;
} 

.delivery-companies {
    font-size: 18px;
    line-height: 20px;
    list-style: none;
}

.container{
  width: 940px;
  margin: 0 auto;
}

.page-title {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    font-weight: normal;
    min-height: 90px;
    
    margin: 0 auto;
    margin-bottom: 20px;

    background-color: #f2f6f8;
}

.breadcrumbs {
    font-family: 'PT Sans', sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.breadcrumbs a{
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.breadcrumbs-current {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 220px;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.filter ul {
    list-style: none;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-input:disabled + label {
    color: rgba(0, 0, 0, 0.4);
}

.catalog-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    flex-wrap: wrap;
}

.catalog-list-inner {
    width: 700px;
}

.catalog-item {
    width: 220px;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.catalog-item h3 {
    font-size: 18px;
    line-height: 20px;
}

.catalog-item a {
    color: #000000;
}

.catalog-list .price-buy {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;

    background-color: #ee3643;
}

.makers-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 940px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.maker-logo {
    width: 220px;
    min-height: 145px;
    border: 1px solid #e5e5e5;
}

.pagination-list {
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    width: 285px;
}

.pagination-item a{
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #e5e5e5;
}

.pagination-item a:hover {
    border-color: #bdc6ca;
}

.pagination-item a:focus {
    border-color: #ee3643;
}

.pagination-item-current a{
    color: #ffffff;

    background-color: #ee3643;
} 

.pagination-item-current a:active {
    color: #ffffff;

    background-color: #ee3643;
}

.about-tools {
    background-color: #f2f6f8;
    width: 100%;
}

.about-tools h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

.about-tools p {
    font-size: 13px;
    line-height: 24px;
}

.item-added h2 {
    font-size: 30px;
    line-height: 30px;
}

.item-added a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ee3643;
}

.continue {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;

    border: none;
}

.main-footer {
    background-color: #32425c;
}

.site-navigation-top {
    width: 550px;
    margin: 0;
    padding: 0;
    padding-left: 170px;
}

.site-navigation-top a:hover,
.site-navigation-middle a:hover {
    background-color: #32425c;
    text-decoration: underline;
}

.site-navigation-top a:focus {
    color: rgba(241, 245, 247, 0.5);
    background-color: #32425c;
    text-decoration: none;
}

.site-navigation-middle a:focus {
    color: rgba(255, 209, 128, 0.5);
    background-color: #32425c;
    text-decoration: none;
}

.site-navigation-middle {
    width: 525px;
    margin: 0;
    padding:0;
}

.site-navigation-middle a{
    color: #ffd180;
}

.footer-address {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.container-low-footer {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    width: 100%;

    background-color: #293449;
}

.container-low {
    display: flex;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
}

.social-links {
    list-style: none;
    text-align: center;
}

.social-links a {
    color: #ffffff;
    background-color: #212a3a;
}

.social-links a:hover,
.social-links a:focus {
    background-color: #ee3643;
}

.feedback-developed {
    text-align: right;
}

.feedback-developed a {
    color: #ffd180;
}

.feedback-developed a:hover {
    text-decoration: underline;
}

.feedback-developed a:focus {
    color: #ee3643;
    text-decoration: none;
}

.user-name input,
.user-mail input,
.user-text textarea {
    border: 2px solid #dee3e4;
}

.user-name input[type="text"],
.user-mail input[type="text"],
.user-text textarea[name="text"] {
    font: inherit;
    color: #a9a9a9;
} 

.button {
    font: inherit;
    font-size: 14px;
    line-height: 18px;

    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
}